/* Animation */
@keyframes up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 0;
    transform: 1;
    transform: translateY(0);
  }
}

@keyframes right {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);

  }
}
.animation-up {
  animation-name: up;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
}

.animation-right {
  animation-name: right;
  animation-duration: 300ms;

}

