#page-lading {
  /* Cor de Fundo */
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  /* Position */
  text-align: center;
  min-height: 100vh;
  display: flex;
}

#container {
  margin: auto;
  width: min(90%, 112rem);
}

.location,
h1,
.visit p {
  height: 16vh;
}

/* Propriedade diferente de tempo */
#logo {
  animation-delay: 50ms;
}

.location {
  animation-delay: 100ms;
}

main h1 {
  animation-delay: 150ms;
  font-size: clamp(4rem,5.3vw, 5.8vw);
}

.visit p {
  animation-delay: 200ms;
}

.visit a {
  width: 5rem;
  height: 5rem;
  background: #ffd666;
  border: none;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: background 200ms;
  animation-delay: 250ms;
}

.visit a:hover {
  background: #96feff;
}

/* Desktop Version */
@media (min-width: 760px) {
    #container{
        padding: 5rem 2rem;
        /* shorthand background: image reapeat position / size  */
        background: url("../images/bg.svg") no-repeat 70% / clamp(10rem, 30vw, 50rem);

    }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .location,
  h1,
  .visit p {
    height: initial;
    text-align: initial;
  }
  /* Text Header */
  .location {
    text-align: right;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  /* Page title */
  main h1 {
    font-weight: bold;
    line-height: .88;
    margin: clamp(7.5%, 8vh, 10%) 0 4rem;
    /* Limited size */
    width: min(300px, 80%);
  }
  .visit {
      display: flex;
      align-items: center;
      justify-content: space-between; 
  }
  .visit a {
      text-align: right;
      margin: initial;
  }
  /* Description Main */
  .visit p {
      font-size: 1.4rem;
      line-height: 1.5;
      width: clamp(20rem, 20vh, 30rem);
  }
}

